{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <form action="date-of-birth" method="post" class="form">

    <!--  <form action="/inputname" method="get" class="form" name="test-form"> -->
      <h1 class="heading-medium">
        What is your child’s full name as written in their passport?
      </h1>
        <div class="form-group">
            <label class="form-label-bold" for="givennames">First and middle names</label>
            <input type="text" class="form-control" id="givennames" name="givennames" value="{{givennames}}">
        </div>
        <div class="form-group">
            <label class="form-label-bold" for="surname">Last name</label>
            <input type="text" class="form-control" id="surname" name="surname" value="{{surname}}">
        </div>

        <h1 class="heading-medium">
          Has your child ever been officially or legally known by another name?
        </h1>

          <div class="form-group">
            <fieldset>

              <legend class="visuallyhidden">
                For example, you have changed your name by marriage or deed poll
              </legend>

              <label for="no" class="block-label">
                <input id="no" type="radio" name="othernames" value="None" {{ checked("othernames","None") }}>
                No
              </label>

              <label for="yes" class="block-label" data-target="add-other-names">
                <input id="yes" type="radio" name="othernames" value="yes">
                Yes
              </label>
              <div class="panel panel-border-narrow js-hidden" id="add-other-names">

                <h2 class="heading-medium">
                  Your child's other name
                </h2>

                <fieldset>

                  <legend class="visuallyhidden">
                    Your child's other name
                  </legend>

                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-1">Their other surname</label>
                    <span class="form-label">Enter this even if it hasn’t changed</span>
                    <input class="form-control" type="text" id="address-line-1" name="otherlastname" value="{{otherlastname}}">
                  </div>

                  <div class="form-group">
                    <label class="form-label-bold" for="address-line-1">Their other given names</label>
                    <span class="form-label">Include any middle names. Enter these even if they haven’t changed</span>
                    <input class="form-control" type="text" id="address-line-1" name="otherfirstname" value="{{otherfirstname}}">
                  </div>

                </fieldset>

              </div>

            </fieldset>
          </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </div>
  </div>
</main>

{% endblock %}
