{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="form-group">

    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h1 class="heading-medium">
              Check your child's details before continuing
            </h1>
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            Full name
          </td>
          <td>
            {{givennames}} {{surname}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Other names
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Date of birth
          </td>
          <td>
            {{dobday}}/{{dobmonth}}/{{dobyear}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Gender
          </td>
          <td>
            {{gender}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Passport nationality
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Passport number
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="/kids1/reg-number">
              Change <span class="visuallyhidden">your Registered Traveller number</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Passport expiry date
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Visa or permit
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            UK customs
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            UK immigration
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>

        <tr>
          <td>
            Criminal convictions
          </td>
          <td>
            {{regNumber}}
          </td>
          <td class="change-answer">
            <a href="">
              Change <span class="visuallyhidden">/span>
            </a>
          </td>
        </tr>




      </tbody>
    </table>
  </div>
  <div class="form-group">
    <a class="button" href="declaration.html" id="continuebutton">Continue</a>
  </div>
</main>

{% endblock %}
