{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        What is your Registered Traveller number?
      </h1>

      <form action="/kids1/summary" method="post" class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <input type="text" class="form-control" id="reg-number" name="regNumber" value="{{regNumber}}">

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
