{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Registered Traveller prototypes
      </h1>

      <h2 class="heading-medium">Under 18's prototypes</h2>

			<ul class="list list-bullet">
				<li><a href="/start-pages/start1">Registered Traveller under 18's v1</a> (based on adult journey)</li>
        <li><a href="/kids2/start-pages/start1">Registered Traveller under 18's v2</a> (one thing per page)</li>
        <li><a href="/kids3/invite-email">Registered Traveller under 18's v3</a> (start from email)</li>
        <li><a href="/kids4/invite-email">Registered Traveller under 18's v4</a> (start from email - revised visa/travel purpose questions)</li>
			</ul>

      <h2 class="heading-medium">Renewals and updates prototype</h2>

      <ul class="list list-bullet">
				<li><a href="/renewals-it3/">Renewals and updates iteration 3</a> (adult journey. Still in progress)</li>
			</ul>

      <h2 class="heading-medium">Combined prototypes</h2>

      <ul class="list list-bullet">
				<li><a href="/kids4/startpages/">Under 18's, Renewals and updates and new start pages</a></li>
			</ul>
<!--
      <h2 class="heading-medium">For reference</h2>

			<h3 class="heading-small">GOV.UK examples and documentation</h3>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h3 class="heading-small">Other GOV.UK resources</h3>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>-->

    </div>
  </div>


</main>

{% endblock %}
