{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <h1 class="heading-medium">
        What will you be doing in the UK?
      </h1>

      <form class="form">
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Select which of these applies to you
            </legend>

            <label for="diplomatictrip" class="block-label">
              <input id="diplomatictrip" type="radio"  name="diplomatnopage" value="diplomatictrip">
              Diplomatic business<!-- I’m a member of a diplomatic mission -->
            </label>

            <label for="government" class="block-label">
              <input id="government" type="radio" name="diplomatnopage" value="government">
              Government business<!-- I’m on official government business-->
            </label>

            <label for="military" class="block-label">
              <input id="military" type="radio" name="diplomatnopage" value="military">
              Military service <!--I’m on official military service-->
            </label>

          </fieldset>
        </div>
        <div class="form-group">
          <a class="button" href="/renewals-it3/email.html">Continue</a>
        </div>

      </form>


    </div>
  </div>
</main>

{% endblock %}
