{% extends "layout.html" %}

{% block page_title %}
  Registered Traveller
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="javascript:history.go(-1)">Back</a>

      <form action="/renewals-it3/summary" method="post" class="form">

        <h1 class="heading-medium">
          Is gabriella.johnson@hotmail.com your email address?
        </h1>

          <div class="form-group">
            <fieldset>
              <label for="yes" class="block-label">
                <input id="yes" type="radio" name="othernames" value="">
                Yes
              </label>

              <label for="no" class="block-label" data-target="add-other-names">
                <input id="no" type="radio" name="othernames" value="None">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="add-other-names">
                <fieldset>
                  <div class="form-group">
                    <label class="form-label-bold" for="email">What is your new email address?</label>
                    <!--<span class="form-label">Enter these even if they haven’t changed</span>-->
                    <input class="form-control form-wider" autocomplete="off" type="text" id="email" name="email" value="{{email}}">
                  </div>
                </fieldset>
              </div>
            </fieldset>
          </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

    </div>
  </div>
</main>

{% endblock %}
